# fly.toml app configuration file generated for daycue-telegram-bot on 2025-12-13T09:52:20Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'daycue-telegram-bot'
primary_region = 'arn'

[build]
  builder = 'paketobuildpacks/builder:base'

[env]
  PORT = '8080'

[http_service]
  auto_start_machines = true
  auto_stop_machines = false
  internal_port = 8080
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
